@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    background: black;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 400px 200px 200px;
    grid-auto-rows: 100px 170px 350px;
    font-family:roboto;   
    max-width: 800px;
    margin:auto ;
    padding: auto;
}

header {   
    text-align: center;
    grid-row: 1;
    grid-column: 1/4;
    padding-top: 30px;
    font-size: 2em;
    background:#f3cdae;
    font-weight: bold;
}

img {
    background-size: cover;
    width: 100%;
    height: 170px;   
    grid-row: 2;
    grid-column: 2/4;
}

main {
    grid-row: 2;
    grid-column: 1/8;   
}

article  {
    padding: 10px;   
    line-height: 1.5;
    background: white;
}

article .time{
    border-bottom: 2px solid rgb(25, 25, 25, 0.3);
    padding-bottom: 15px;
}

article:last-of-type{
    padding-bottom: 5px;
}
article:first-of-type {
    padding-top: 10px;
}

aside {
    grid-row: 3;
    grid-column: 2;
}

aside .asd {
padding: 30px;
text-align: center;
font-weight: bold;
}

aside .asd:nth-of-type(1){
    background: #f3cdae;
    color: black;
}

aside .asd:nth-of-type(2){
    background: #e4ab55;
    color: white;
}

aside .asd:nth-of-type(3){
    background:rgb(138, 59, 59);
    color: white;
}

aside .asd:nth-of-type(4){
    background: #cb9865;
    color: white;
}

footer {
    grid-row: 3;
    grid-column: 3;
    background: #322d32;
    color: white;
}

footer .location {
    font-weight: bold;
    padding: 30px 10px 10px 10px;
    font-size: 1em;
}

footer .directions {
    padding-left: 10px;
    font-style: italic;
    font-size: 0.9em;
}

section {
    grid-row: 4/7;
    grid-column: 2/4;
    background-color: #322d32;
}

/* for tablet */

@media(max-width: 768px){
    .container{
        margin-left: 10%;
        margin-right: 10%;
        max-width: 700px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px 170px 350px ;
    }
}

@media(max-width: 768px){
    article:last-of-type{
        padding-bottom: 20px;
    }
}

@media(max-width: 768px){
    aside {
        grid-row: 3/4;
        grid-column: 2;
    }
}

@media(max-width: 768px) {
    aside .asd {
        padding: 34px;
        text-align: center;
    }
}

@media(max-width: 768px){
    footer {
        grid-row: 8;
        grid-column: 1/2;
    }
}

@media  (max-width: 768px){
    .section{
        grid-row: 4/ span 8;
        grid-column: 2;        
    
    }
}
@media(max-width: 768px){
    .empty {
        grid-row: 7/ 9;
        grid-column: 2;   
        background-color: #322d32
    }
}

/* for mobile */

@media (max-width: 600px){
.container {
    display: flex;
    flex-direction: column; 
    font-family:roboto ;
    margin: 30px;
    background: white;    
    }
}

@media (max-width: 600px){
    header {
        padding-bottom: 20px;
    }
}